/* body {
    background-color: rgba(238, 238, 232, 0.959)
} */

.navbar {
    background-image: linear-gradient(to right, rgb(246, 8, 8), rgb(117, 4, 4));

}

#intro{
    background-image: linear-gradient(to right, rgb(246, 8, 8), rgb(117, 4, 4));
    padding-top: 5%;
    color: white;
}

.bottom-img {
    width: 100%;
}




.inner {
    overflow: hidden;
}

.inner img {
    transition: all 1.5s ease;
}
.inner:hover img{
    transform: scale(1.5);
}

.card{
    border: none;
}
.card:hover{
    box-shadow: 0 10px 10px #817d7d;
}

/* img:hover {
    transform: scale(1.05);
    opacity: 0.5;
    border-color: rgb(34, 102, 3);
    border-style: solid;
    border-width: 0 0 10px 0;


} */

footer{
    background-image: linear-gradient(to right, rgb(246, 8, 8), rgb(117, 4, 4));
}