body {
    background-color: white;
}

.navbar {
    background-image: linear-gradient(to right, rgb(246, 8, 8), rgb(117, 4, 4));

}

#intro{
    background-image: linear-gradient(to right, rgb(246, 8, 8), rgb(117, 4, 4));
    padding-top: 5%;
    color: white;
}

.bottom-img {
    width: 100%;
}



.btn:hover {
transform: scale(1.15);
margin: 0 5px;
}

.inner {
    overflow: hidden;
}

.inner img {
    transition: all 1.5s ease;
}
.inner:hover img{
    transform: scale(1.5);
}



.card{
    border: none;
}


#search-space{
    margin: 200px !important;
}

#detail-space{
    margin-top: 100px !important;
}


#summary {
    background-image: linear-gradient(to right, rgb(246, 8, 8), rgb(117, 4, 4));
    padding-top: 5%;
    color: white;    
}

.accordion-button {
    font-size: 1.3rem;
}


footer{
    background-image: linear-gradient(to right, rgb(246, 8, 8), rgb(117, 4, 4));
}