{% extends 'base.html'%}
{% load crispy_forms_tags %}
{% block title %}search{% endblock %}

{% block content %}
<div class="container col-md-8" id="search-space">
    {% if query %}
    <div class="container m-auto col-lg-12 shadow">
        <div class="pt-5">
            <p class="text-uppercase fs-4">
                {% with results.count as total_results %}
                {{ total_results }} results for <span class="fw-bolder fs-4">{{ query|upper }}</span>
                {% endwith %}
            </p>
        </div>
        {% for portfolio in results %}
        <div class="col-lg-8 mb-5">
            <h4><a class="" href="{{ portfolio.get_absolute_url }}">{{ portfolio.name }}</a>
            </h4>
            <p class="lead fs-5 pb-5">{{ portfolio.description }}</p>
        </div>
        {% empty %}
            <div class="container my-5 text-center ">
                <svg xmlns="http://www.w3.org/2000/svg" width="90" height="90" fill="currentColor" class="bi bi-search"
                    viewBox="0 0 16 16">
                    <path
                        d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                </svg>
                <div class="text-center py-5">
                    <h4 class="display-3">No results</h4>
                    <p class="lead fs-4">Sorry there are no results for your query.</p>
                </div>
            </div>
        {% endfor %}
    {% endif %}
    </div>

</div>

{% endblock %}