{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}contact{% endblock %}

{% block content %}
<!-- contact -->
<div class="container-fluid bg-light pb-5 font-monospace">
    <div class="text-center">
        <h2 class="display-4 font-monospace text-secondary py-5">Contact</h2>
    </div>
    {% if sent %}
    <div class="container bg-success text-white m-auto col-lg-6 mb-5 rounded">
        <p class="lead text-center fs-5 vertical-align pt-1">Your message was submitted successfully</p>
    </div>
    {% else %}

    <div class="container my-5 col-lg-9">
        <form action="" method="post" class="p-1">
            {{ form|crispy }}
            {% csrf_token %}
            <input type="submit" role="button" value="Contact" class="btn btn-lg btn-danger opacity-100">
        </form>
    </div>
    {% endif %}
</div>
<!-- end contact -->

{% endblock %}